@import url('./__container/comments__container.css');

.comments {
    margin-bottom: 102px;
    width: calc(100% - 48px*2);
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .comments {
        width: calc(100% - 54px*2);  
    }   
}


@media screen and (max-width: 375px) {
    .comments {
        width: calc(100% - 16px*2);
        margin-bottom: 64px;
    }   
}